{% extends 'blog/base.html' %}
{% block title %}Форма по добавлению записей{% endblock %}
{% block content %}
    <div style="margin-top: 1%">
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col">
                    <div class="bg-image card shadow-1-strong"
                         style="background: linear-gradient(90deg, rgba(201,173,232,1) 37%, rgba(200,174,231,1) 38%, rgba(153,242,176,1) 71%);">
                        <div class="card-body text-white">
                            <h1>Форма по добавлению записей</h1>
                            <form method="post" action="/create">
                                {% csrf_token %}
                                <label for="title">Заголовок записи:</label><br>
                                <input type="text" id="title" name="title"><br><br>
                                <label for="description">Текст записи:</label><br>
                                <textarea id="description" name="description"></textarea><br><br>
                                <label for="author">Имя автора:</label><br>
                                <input type="text" id="author" name="author"><br><br>
                                <label for="date">Дата публикации:</label><br>
                                <input type="date" id="date" name="date"><br><br>
                                <input type="submit" value="Добавить запись">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
